$blue: #1e96fc;
$blue-faded: rgba(167, 227, 255, 0.2);
$eventGreen: #0B503C;
$green: #17AE82;
$grey: #999999;
$grey-faded: #99999933;
$grey-disabled: #cccccc;
$navy: #001524;
$orange: #ff7d00;
$orange-faded: rgba(255, 242, 167, 0.4);
$red: #C42338;
